<!-- ////////////// FOOTER ////////////// -->
footer
	.container
		.row
			.col
				ul.list-group
					li.list-group-item
						a(href="#") Facebook
					li.list-group-item
						a(href="#") Twitter
					li.list-group-item
						a(href="#") Google+
					li.list-group-item
						a(href="#") Linkedin
					li.list-group-item
						a(href="#") Behance
					li.list-group-item
						a(href="#") Dribble
					li.list-group-item
						a(href="#") GitHub
					li.list-group-item
						a(href="#") Instagram
